@import url("https://fonts.googleapis.com/css2?family=Fugaz+One&display=swap");

.planets-principal {
  font-family: "Fugaz One", cursive;
  background: url("../Assets/background_stars.svg");

  .planets-lines {
    display: flex;
    place-content: center;

    #wrapper {
      width: 680px;
      display: table;
      margin: auto;
    }
    #wrapper > div {
      display: inline-block;
    }
    .circle {
      position: relative;
      width: 120px;
      height: 120px;
      border-radius: 50%;
      background-color: #eee;
      border: solid 1px #ddd;
      z-index: 999;
    }
    .line-top {
      width: 15em;
      height: 60px;
      z-index: -1;
      background: transparent;
      border: none;
      border-top: dashed 2px white;
      padding: 40px 40px;
      border-radius: 50%;
      margin: 20px -50px 0;
    }
    .line-bottom {
      width: 15em;
      height: 60px;
      z-index: -1;
      background: transparent;
      border: none;
      border-bottom: dashed 2px white;
      padding: 40px 40px;
      border-radius: 0 0 50% 50%;
      margin: 0 -65px;
    }
  }

  .earth {
    position: absolute;
    left: 26em;
  }

  .imagem-nave-btn {
    margin-left: 3em;
    margin-top: 10em;

    .imagem-nave {
      height: 2em;
      transform: rotate(272deg);
      margin-right: 1em;
    }
  }

  hr {
    border: none;
    border-top: 5px dashed white;
    color: #fff;
    width: 15%;
    margin-left: 20px;
    margin-right: 20px;
    align-self: center;
  }

  h2 {
    color: white;
    display: flex;
    text-align: center;
    margin-top: 10em;
    margin-bottom: 3em;
    place-content: center;
  }
}
